@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-size: calc(1vw + 0.6em);
  --vh:calc(100vh - var(--vh-offset, 0px));
  
}

@media (min-width: 50em) {
  :root {
    font-size: 1.125em;
  }
}
